{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "camelcase": [2, {"properties": "always"}],
    "brace-style": [2, "1tbs", {"allowSingleLine": true}]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "extends": "eslint:recommended"
}
